.main{
    /*background-color: linear-gradient(to bottom right, #A5F2EE,#BCF16F);*/
     
    /*background: linear-gradient(to bottom right, #A5F2EE, #BCF16F);*/
    background: linear-gradient(to bottom right, #E0FBF9, #E0F9DA);
    height: 100vh;

}

.button{
    background: linear-gradient(to bottom right, #E0FBF9, #E0F9DA);
    
}