.contents {
  display: flex;
  /*flex-wrap: nowrap; */
  /*width: 100%;*/
}

#sidebar {
    font-size: 15px;
    width: 20%;
    /*position: fixed;*/
    text-align: center;
}

.main_content{
    width: 80%
}


@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}
