
.contents {
  display: flex;
  /*flex-wrap: nowrap; */
  /*width: 100%;*/
}

#sidebar {
    font-size: 15px;
    width: 20%;
    /*height: 100vh;*/
    /*position: fixed;*/
    text-align: center;
}

#tag_sidebar {
    font-size: 15px;
    width: 35%;
    /*position: fixed;*/
    text-align: center;
}

.main_content{
    width: 80%;
    padding-left: 10px;
    height: 100%;
}


@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }

    .main_content {
        margin-left: 0;
        width: 100%;
    }
}

