  .fixed-layout {
    table-layout: fixed;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
  }
  .wrap {
    white-space: normal;
    word-wrap: break-word;
  }
   .box {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }

  .box.open {
    height: auto;
    transition: max-height 0.5s ease;
  }

  .border-b-2 {
    border-bottom: 2px solid #ccc;
  }

  .row-space {
    padding: 10px 0;
  }
  
/*  .inner-box {*/
/*  padding: 3%;*/
/*}*/