
.contents {
  display: flex;
  /*flex-wrap: nowrap; */
  /*width: 100%;*/
}


#tag_sidebar {
    font-size: 15px;
    width: 35%;
    /*position: fixed;*/
    text-align: center;
}

.main_content{
    width: 80%;
    padding-left: 10px;
    height: 100%;
}


/*チェックリストボタン*/
.tag_contener{
	position: relative;
	cursor: pointer;
	padding:0 0 0 30px;
	margin:0 0px 10px 0;
	padding: 10px;
	background: #f5f6f7;
	box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #DFE4EA;
	border-radius: 7px;
}


.tag_contener_title{
	font-weight: bold;
}





@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}
