.datetime{
	/*color: green;*/
	font-family: 'Sacramento', cursive;
}

.typename{
	font-family: 'Sacramento', cursive;
}

.sort-btn{
	/*background: #f3f3f3;*/
	padding: 20px;
	margin:50px 0;
	/*display: flex;*/
	justify-content: center;
	flex-wrap: wrap;
}

.sort-btn dt{
	font-weight: bold;
	margin:10px;
 	
}

.sort-menu a dt{
	text-align: center; /* テキストを中央揃えにする */
	display: block; /* インライン要素からブロック要素に変更 */
	width: 80%;
}

.indicator{
	display: inline-block;      /* インラインブロックにする */
	vertical-align:  middle;    /* 中央寄せ */

}

.sort-btn dd{
	margin:0 0 10px 0;
}

.sort-btn ul{
	/*display: flex;*/
}

.sort-btn li{
	margin:0 10px;
    list-style:none;
}

.sort-btn ul li{
	position: relative;
	cursor: pointer;
	padding:0 0 0 30px;
	margin:0 10px 0 0;
}



/*横幅が810px以下になった際の指定*/
@media only screen and (max-width: 810px) {
.sort-btn li{
	width:100%;
	margin:0;
}
	
	
}

/*チェックマークの設定*/
.sort-btn ul li::before{
	content:'';
	position: absolute;
	left:0;
	width:20px;
	height:20px;
	border:2px solid #ccc;
}

.sort-btn ul li.active::after{/*現在地＝activeというクラス名がついたらチェックマークを出現*/
	content:'';
	position: absolute;
	left:5px;	
	top:0;
    /*チェックマークの色や形*/
	border-left:2px solid #333;
	border-bottom:2px solid #333;
	width:16px;
	height:9px;
	transform:rotate(-45deg);
}



/*＝＝＝Muuriのレイアウトのための調整 */
.grid {
  position: relative;/*並び替えの基準点を指定*/
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 25%;/*横並びで4つ表示*/
  height: 440px;
  padding:0 10px 10px 10px;/*画像に余白をつける*/
  list-style:none;
  margin-bottom: 5vh;
  /*background-color: white;*/
}


.item:hover {
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*内側のボックスの高さが崩れないように維持*/
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  /*z-index: 1;*/
}

/*画像の横幅を100%にしてレスポンシブ化*/
.grid img{
	width:100%;
	height: 100%;
	object-fit: cover;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
	
}

/*横幅が1500px以下になった際の指定→小さいPC対応*/
@media only screen and (max-width: 1500px) {
.item {
  width: 33.0%;/*横並びで2つ表示*/
  padding: 0 5px 10px 5px;
}

}

/*横幅が768px以下になった際の指定→タブレット対応*/
@media only screen and (max-width: 940px) {
.item {
  width: 49.5%;/*横並びで2つ表示*/
  padding: 0 5px 10px 5px;
}

}

/*横幅が600px以下になった際の指定→スマホ対応*/
@media only screen and (max-width: 690px) {
.item {
  width: 95.0%;/*横並びで2つ表示*/
  padding: 0 5px 10px 5px;
}
.datetime{
	font-family: 'Sacramento', cursive;
}
	
}

.photo_date{
	width:100%;
	height: 8%;
}
.photo_area{
  /*position: absolute;*/
  width:100%;
	height: 70%;
}

.star-container {
  position: relative;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo_attribute_1{
	/*padding-top: 8px;*/
	width:100%;
	height: 6%;
}


.photo_attribute_2{
	/*padding-top: 8px;*/
	width:100%;
	height: 16%;
}

.modal-trigger{
	/*border-radius: 7px;*/
}

/*サイドバーの部屋、タイプの横にある矢印の制御*/
.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {width: 10px; height: 5px; background-color: black; display: inline-block; transition: all .1s linear;}
.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {transform: skewY(-40deg);}
.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {transform: skewY(40deg);}
.glyphicon {top: -2px;}